.button {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 35px;
}

:global(body.dark-mode) .button {
  background: #2f2f2f;
}

.episodeCard {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.episodeInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 10px;
  flex: 1;
  gap: 1rem;
}
