.select {
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  font-size: 1rem;
}

/* DARK MODE */
:global(body.dark-mode) .select {
  background-color: #505050;
  color: rgb(247, 247, 247);
  border: 1px solid #1a1616;
}
